@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

body {
    font-family: 'Caveat', cursive;
}

.project {
    width: 300px;
}

.project img {
    width: 100%;
    height: 100%;
}